// #HomeBest {
//   height: 100vh;
//   @media (max-width: 770px) {
//     height: auto;
//   }
// }
// #HomePackaging {
//   height: 50vh;
//   @media (max-width: 770px) {
//     height: auto;
//   }
// }
// #HomePackagingExcellence {
//   height: 100vh;
//   @media (max-width: 770px) {
//     height: auto;
//   }
// }
.home-form-label {
  color: #000 !important;
  font-size: 19px !important;
  margin-bottom: 5px;
}

#contact .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none !important;
}
